*{margin: 0;padding:0;}
ul,li{list-style:none;}
a{text-decoration: none;}
canvas{background: #000;position: absolute;top: 0;left: 0;}
body{overflow-x: hidden;background: #000;}
body::-webkit-scrollbar {display: none;}

section, .inner{width: 100vw;height:100vh;display: flex;flex-direction: column;justify-content: center;align-items: center;}
h2{font-size: 5rem;letter-spacing: -0.8px;color:salmon;}
p{font-size: 24px;color:salmon;}
.up{transition: transform 0.7s, opacity 1s;}

.menu_wrap{width: 60px;height:60px;position: fixed;top: 30px;right:30px;background: #fff; z-index: 99;border-radius: 50px;cursor: pointer;}
.menu{background: url(../img/menu.png) 0 0 no-repeat;background-size: cover;width:70%;height: 70%;position: absolute;top: 6px;left: 9px;}
.menu_wrap ul{position: absolute;top: 60px;right: 10px;width: 115px;text-align: right;font-size: 16px;height:0;overflow: hidden;transition-duration: 0.4s;}
.menu_wrap ul li{margin: 5px 0;font-weight: 600;}
.menu_wrap:hover ul{height: 120px;}
.menu_wrap ul li:hover{color:teal;}

#bllearn_sec{background: url(../img/bllearn_bg.jpg) 0 0 no-repeat;background-size: cover;}
#bllearn_sec .inner{position: relative;}
#bllearn_sec .con{position: absolute;bottom:0;right: 230px;cursor: pointer;}
#bllearn_sec .con.mobile{bottom:120px;right:300px;display: none;}

.cls-0,.cls-1,.cls-2,.cls-3,.cls-4{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:2px;}
.cls-0{stroke-dasharray: 137px;stroke-dashoffset: 274px; animation: dash 3s linear infinite;stroke: rgb(7, 114, 160);}
.cls-1{stroke-dasharray: 137px;stroke-dashoffset: 274px; animation: dash 3s linear infinite;}
.cls-4{stroke-dasharray: 50px;stroke-dashoffset: 100px; animation: dash 3s linear infinite;filter: drop-shadow(10px 5px 5px #000);}
.cls-2{stroke-dasharray: 1867;stroke-dashoffset: 3734; animation: dash 10s linear infinite;stroke: rgb(0, 73, 99);filter: drop-shadow(30px 10px 5px #000);}
.cls-3{stroke-dasharray: 1222;stroke-dashoffset: 2444; animation: dash 13s linear infinite;filter: drop-shadow(20px 20px 5px #000);}
@keyframes dash{
  to {
    stroke-dashoffset: 0;
  }
}

#design_sec{position: relative;background: url(../img/system_design_bg1.png) 0 0 no-repeat;background-size: cover;}
#design_sec svg{position: absolute;top: 0;left: 0;height: 100%;}

#turtle_sec{background: url(../img/turtle.png) 40% 0 no-repeat;background-size: contain;background-color: salmon;}

footer{width: 100vw;background: #000;min-height: 100px;color: #fff;padding: 20px 50px;}
